.inputStyle {
    height: 25px;
    width: 275px;
    border: solid 1px #E5E5E5;
    /*outline: 0;*/
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    /*background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEE), to(#FFF));*/
    /*background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}
.errorInput {
    border: 3px solid red;
}